<th:block xmlns:th="http//thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
          th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid my-2 ">
            <a class="navbar-brand" th:href="@{/}" th:utext="#{navbar.brand}" ></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                    <li class="nav-item dropdown ms-3">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" th:utext="#{navbar.card}">
                            Card
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li sec:authorize="hasAuthority('ISSUE_CARD')">
                                <a class="dropdown-item" th:href="@{/card-issue}" th:utext="#{navbar.card.issue-card}">Issue card</a>
                            </li>
                            <li sec:authorize="hasAuthority('CARD_MANAGEMENT')">
                                <a class="dropdown-item" th:href="@{/admin/card-management}" th:utext="#{navbar.card.issuance-requests}">Issuance requests</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown ms-3" sec:authorize="hasAuthority('MONEY_TRANSFER')">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" th:utext="#{navbar.transfers}">
                            Transfer by
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" th:href="@{/transfer/by-card-number}" th:utext="#{navbar.transfers.card-number}">Card number</a></li>
                           <!-- <li><a class="dropdown-item" th:href="@{/transfer/by-phone-number}" th:utext="#{navbar.transfers.phone-number}">Phone number</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="d-flex align-items-center ">
                <!--<button type="button"
                        class="btn btn-secondary rounded-circle bg-dark border-0 shadow-none me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                         class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6"></path>
                    </svg>
                    <span class="badge rounded-pill badge-notification bg-danger">2</span>
                </button>-->
                <div class="dropdown dropdown-menu-start">
                    <button type="button"
                            id="dropdownMenuButton"
                            class=" btn btn-secondary rounded-circle bg-grey border-0 shadow-none "
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="52" fill="currentColor"
                             class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <li  sec:authorize="hasAuthority('VIEW_ONLY_HIS_PROFILE')"><a class="dropdown-item" th:href="@{/profile}" th:utext="#{navbar.profile}">Profile</a></li>
                        <li class="d-flex justify-content-end me-2 mt-4">
                            <form th:action="@{/logout}" method="post">
                                <button class="btn dropdown-btn  btn-danger"
                                        th:utext="#{navbar.profile.logout}" type="submit">
                                    Log out
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</th:block>