<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:insert="~{fragments/bootstrap :: bootstrap-head}"/>
    <title th:utext="#{forgot.password.title}">Forgot password</title>
    <link href="/css/autocomplete.css" rel="stylesheet" type="text/css">
</head>
<body>
<section class="vh-100 bg-light">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark  text-white" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase" th:utext="#{forgot.password.form.title}">Forgot
                                Password</h2>
                            <p class="text-white-50 mb-5" th:utext="#{forgot.password.form.subtitle}">Please enter your
                                email</p>
                            <form th:action="@{/forgot-password}" method="post" autocomplete="on"
                                  th:object="${userEntity}">
                                <div class="form-group">
                                    <!-- Email -->
                                    <div class="form-floating mb-4">
                                        <input type="email" th:field="*{email}"
                                               class="form-control bg-dark text-white form-control-lg border-0 shadow-none"
                                               id="typeEmail" name="username" placeholder="Email"/>
                                        <label class="text-white-50" for="typeEmail"
                                               th:utext="#{forgot.password.form.email}">Email</label>
                                    </div>
                                    <div class="text-danger mb-4">
                                        <p>
                                            <th:block th:if="${#fields.hasErrors()}">
                                                <div th:errorclass="invalid-input" th:errors="*{email}"></div>
                                            </th:block>
                                        </p>
                                    </div>
                                    <input th:field="*{password}" type="hidden">
                                    <!-- Button Continue -->
                                    <button class=" mb-0 pb-lg-2 btn btn-outline-light btn-lg px-5" type="submit"
                                            th:utext="#{forgot.password.form.submit}">
                                        Continue
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:insert="~{fragments/bootstrap :: bootstrap-scripts}"/>
</body>
</html>