<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/bootstrap :: bootstrap-head}"/>
    <link href="/css/autocomplete.css" rel="stylesheet" type="text/css">
    <title th:utext="#{reset.password.title}">Change password</title>
</head>
<body>
<section class="vh-100 bg-light">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark  text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase" th:utext="#{reset.password.form.title}">Change
                                password</h2>
                            <form th:action="@{/forgot-password/reset-password}" method="post" th:object="${user}"
                                  autocomplete="on">
                                <div class="form-group">
                                    <input type="hidden" th:field="*{email}">
                                    <div class="form-floating  mb-2 ">
                                        <input type="password" th:field="*{password}"
                                               class="form-control bg-dark text-white form-control-lg border-0 shadow-none"
                                               id="typePassword" name="password" placeholder="Password"/>
                                        <label class="text-white-50" for="typePassword"
                                               th:utext="#{reset.password.form.label.password}">Password</label>
                                    </div>
                                    <div class="text-danger mb-4">
                                        <p>
                                            <th:block th:if="${#fields.hasErrors()}">
                                                <div th:errorclass="invalid-input" th:errors="*{password}"></div>
                                            </th:block>
                                        </p>
                                    </div>
                                    <div class="form-floating  mb-2 ">
                                        <input type="password" th:field="*{confirmPassword}"
                                               class="form-control bg-dark text-white form-control-lg border-0 shadow-none"
                                               id="confirmPassword" name="confirmPassword"
                                               placeholder="Repeat your password"/>
                                        <label class="text-white-50" for="confirmPassword"
                                               th:utext="#{reset.password.form.label.password.repeat}">Repeat your
                                            password</label>
                                    </div>
                                    <div class="text-danger mb-2">
                                        <p>
                                            <th:block th:if="${#fields.hasErrors()}">
                                                <div th:errorclass="invalid-input" th:errors="*{confirmPassword}"></div>
                                            </th:block>
                                        </p>
                                    </div>
                                    <button class=" mb-5 pb-lg-2 btn btn-outline-light btn-lg px-5" type="submit"
                                            th:utext="#{reset.password.form.submit}">
                                        Change
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:insert="~{fragments/bootstrap::bootstrap-scripts}"/>
</body>
</html>