<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/bootstrap :: bootstrap-head}"/>
    <title>Log in</title>
</head>
<body>
<div class="container-mt-5 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col text-bald">
            <p th:text="${response}">NULL</p>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/bootstrap :: bootstrap-scripts}"/>
</body>
</html>