<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:insert="~{fragments/bootstrap::bootstrap-head}"/>
    <th:block th:insert="~{fragments/ajax::ajax}"/>
    <script type="text/javascript" th:src="@{/js/transfer.js}"></script>
    <link href="/css/autocomplete.css" type="text/css" rel="stylesheet"/>
    <title th:utext="#{transfer.title}">Transfer</title>
</head>
<body>
<section class="vh-100 bg-light">
    <th:block th:insert="~{fragments/navabar::navbar}"/>
    <div class="container py-4">
        <div class="row d-flex align-items-center justify-content-center mt-2">
            <div class="col-6">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center justify-content-center">
                            <h3 class="text-white mb-3" th:utext="#{transfer.form.title}">Transfer</h3>
                        </div>
                        <form th:action="@{by-card-number/confirm}" method="get" th:object="${transferMoneyDTO}">
                            <div class="form-floating mb-3">
                                <div class="mb-3">
                                    <h6><label for="card-number-input" class="form-label"
                                               th:utext="#{transfer.form.label.card-number}">Enter card number</label></h6>
                                    <input type="text" class="form-control bg-dark shadow-none text-white"
                                           id="card-number-input" placeholder="1234 1234 1234 1234"
                                           th:field="*{toCardNumber}"
                                           pattern="([0-9]{4}\s[0-9]{4}\s[0-9]{4}\s[0-9]{4})|([0-9]{16})"/>
                                </div>
                                <div class="text-danger mb-1">
                                    <p>
                                        <th:block th:if="${#fields.hasErrors()}">
                                            <div th:errorclass="invalid-input" th:errors="*{toCardNumber}"></div>
                                        </th:block>
                                    </p>
                                </div>
                                <div class="mb-3">
                                    <h6><label for="amount-input" class="form-label"
                                               th:utext="#{transfer.form.label.amount}">Enter amount</label></h6>
                                    <div class="input-group flex-nowrap">
                                        <input id="amount-input" type="text"
                                               class="form-control bg-dark shadow-none text-white"
                                               th:field="*{amount}"/>
                                        <span class="input-group-text">&#8381</span>
                                    </div>
                                </div>
                                <div class="text-danger mb-1">
                                    <p>
                                        <th:block th:if="${#fields.hasErrors()}">
                                            <div th:errorclass="invalid-input" th:errors="*{amount}"></div>
                                        </th:block>
                                    </p>
                                </div>
                                <div class="mb-3">
                                    <h6 th:utext="#{transfer.form.select.card}">Select card</h6>
                                    <div class="input-group">
                                        <select class="form-select bg-dark text-white" th:field="*{fromCardEntity}">
                                            <option th:each="currcard:${selectCard}" th:value="${currcard.id}"
                                                    th:utext="
                                                ${currcard.paymentSystem+' '+currcard.cardNumber.substring(12)}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="text-danger mb-1">
                                    <p>
                                        <th:block th:if="${#fields.hasErrors()}">
                                            <div th:errorclass="invalid-input" th:errors="*{fromCardEntity}"></div>
                                        </th:block>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end align-items-end">
                                <button class="btn btn-outline-success" type="submit"
                                        th:utext="#{transfer.form.submit}">Transfer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:insert="~{fragments/bootstrap::/bootstrap-scripts}"/>
</body>
</html>