<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <th:block th:insert="~{fragments/bootstrap::bootstrap-head}"/>
    <link href="/css/autocomplete.css" type="text/css" rel="stylesheet"/>
    <title>Welcome</title>
</head>
<body>
<section class="bg-light vh-100">
    <!--Navbar-->
    <th:block th:insert="~{fragments/navabar::navbar}"/>
    <div class="container mt-5 py-4 ">
        <div class="row" th:if="${UIExceptionDTO}!=null" >
            <div id="emailAlert" class="alert alert-danger alert-dismissible" role="alert" th:object="${UIExceptionDTO}">
                <div th:utext="*{status}" >null</div>
                <div th:utext="*{message}" >null</div>
                <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
        </div>
    </div>
</section>
<th:block th:insert="~{fragments/bootstrap::bootstrap-scripts}"/>


<p th:text="${userEntityUsername}"> Welcome</p>
<br/>
Your SessionID <p th:text="${sessionID}">null</p>
<br/>
<form th:action="@{/logout}" method="post">

    <input type="submit" value="Log Out"/>
</form>
</body>
</html>